div.App {

    main {
        padding: 1em;
    
        // Page Background Image
        > img {
            object-fit: cover;
            opacity: 0.4;
            z-index: -1;
            position: fixed;
            top: 0;
            left: 0;

            &.img-home {
                top: -10rem;
                left: -5rem;
            }

            &.img-what {
                top: -5rem;
                left: -2rem;
            }

            &.img-why {
                left: -10rem;
            }

            &.img-rates {
                top: -10rem;
                left: -55rem;
            }

            &.img-contact {
                left: -35rem;
            }
        }

    }

    @media screen and (min-width: 481px) {
        main {
            padding: 2em;

            > img {
                transform: scale(1.25);

                &.img-home {
                    top: 3rem;
                    left: 5rem;
                }

                &.img-what {
                    top: -3rem;
                }

                &.img-why {
                    top: 5rem;
                    left: -4rem;
                }

                &.img-rates {
                    top: 6rem;
                    left: -20rem;
                }

                &.img-contact {
                    top: 4rem;
                    left: -32rem;
                }
            }
        }
    }

    @media screen and (min-width: 1000px) {
        main {
            padding: 3em;

            > img {
                transform: scale(1.5);
            }
        }
    }
}