@import "./global.scss";

#contact-form {
    padding: 0.5em 1em 1em;

    h2 {
        margin: 0.5em;
    }

    form {
        display: flex;
        flex-direction: column;

        input, textarea {
            font-size: 1rem;
            padding: 0.25em;
            margin-top: 0.5em;
            min-width: 300px;
            resize: none;
        }

    }

    p {
        color: $color--omega-red;
        text-align: center;
        margin: 1em;
    }
}