@import "./global.scss";

#contact-form {
    padding: 0.5em 1em 1em;

    h2 {
        margin: 0.5em;
    }

    form {
        display: flex;
        flex-direction: column;

        input, textarea {
            font-size: 1rem;
            padding: $size--quarter-em;
            margin-top: 0.5em;
            min-width: 300px;
            resize: none;
        }

        .submit {
            margin-top: 1em;
        }
    }

    p {
        color: $color--omega-red;
        text-align: center;
        margin: 1em;
    }

    @media screen and (min-width: 681px) {
        padding-bottom: 2em;

        form {
            input, textarea {
                min-width: 400px;
            }
    
            .submit {
                margin-top: 1.5em;
            }
        }
    }
}