@import "./global.scss";

.nav-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 4;
    overflow: hidden;
}

header {
    top: 0;
    z-index: 5;
    position: sticky;
    display: flex;
    flex-direction: column;
    background: $color--omega-lightgray;
    max-width: 290px;

    &.min {
        width: calc($size--icon + 2 * $size--half-em);
        border-bottom-right-radius: $size--half-em;
    }

    &.max {
        display: none;
    }

    .logo {
        display: flex;
        align-items: center;
        padding: $size--half-em;
    
        img {
            width: $size--icon;
            height: $size--icon;
        }
        h1 {
            margin-left: 0.2em;
        }
    }

    nav {
        top: calc($size--icon + 2 * $size--half-em);
        position: absolute;
        background: $color--omega-lightgray;
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;

        a {
            padding: 0.5em 1em;
            border-top: 2px solid $color--omega-darkgray;
        }
    }

    @media screen and (min-width: 481px) {
        &.min {
            display: none;
        }

        &.max {
            display: flex;
        }
    }

    @media screen and (min-width: 769px) {
        //
    }
}