main > section.bothome {
    .bubble {
        margin: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;

        .text {
            display: flex;
            flex-wrap: wrap;
            background: white;
            padding: 1em;
            border-radius: 1em;
        }
        
        .tip {
            width: 0;
            height: 0;
            border-left: 1em solid transparent;
            border-right: 1em solid transparent;
            border-top: 2em solid white;
        }
    }

    img.ocb {
        z-index: 2;
        position: relative;
        margin-top: 1em;
        opacity: 1;
    }

    @media screen and (min-width: 769px) {
        flex-direction: row-reverse;

        .bubble {
            flex-direction: row-reverse;

            .tip {
                border-left: none;
                border-right: 2em solid white;
                border-top: 1em solid transparent;
                border-bottom: 1em solid transparent;
            }
        }
    }
}